{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}


{% block main %}
    <table class="table">
        <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>TOTAL</th>
      </tr>
      {% for row in stocksData %}
          <tr>
              <td>{{row["symbol"]}}</td>
              <td>{{row["name"]}}</td>
              <td>{{row["shares"]}}</td>
              <td>${{row["price"]}}</td>
              <td>${{row["shares"] * row["price"]}}</td>
          </tr>
      {% endfor %}
          <tr>
              <td>CASH</td>
              <td></td>
              <td></td>
              <td></td>
              <td>${{cash[0]['cash']}}</td>
          </tr>
          <tr id="lastTotal">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>${{ total }}</td>
          </tr>
    </table>

{% endblock %}